* {
  box-sizing: border-box;
  font-family: "Gilroy-Medium", sans-serif;
  color: #070707;
  font-size: 18px;
  line-height: 22px;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 945px;
  margin: 0 auto;
}

.bio {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 40px 0px 49px 0px;
}

.nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-bottom: 1px solid #828282;
  padding: 32px 0;
}

.main-banner {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

ul li a:first-child {
  color: black;
}

ul li a {
  color: #828282;
  cursor: pointer;
  font-weight: 600;
}

header h1 {
  font-size: 47px;
  line-height: 59px;
  color: #070707;
  margin: 0;
}

.lang {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}

/* 2 block */

.about-section {
  background: #f6f6f6;
  text-align: center;
  padding: 120px 0 107px 0;
  margin-top: 104px;
}

.section-title {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 42px;
}

.about-section p {
  width: 400px;
  margin: 20px auto;
}

/* 3 block */
.skills-section {
  text-align: center;
  padding: 91px 0 110px 0;
}

.tools {
  display: flex;
  justify-content: space-between;
  margin-top: 83px;
}

.tools img {
  width: 166px;
}

/* 4 block */

.portfolio-section {
  text-align: center;
  background: #f6f6f6;
  padding: 112px 0 5px 0;
}

.portfolio-section .section-title {
  margin-bottom: 47px;
}

.portfolio-section img {
  width: inherit;
}

.portfolio-section p {
  margin: 44px 0 99px 0;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 114px 0 100px 0;
}

footer button {
  width: 180.5px;
  height: 42px;
  background-color: black;
  border-radius: 23px;
  padding: 12px 29px;
  color: white;
  border-style: none;
  margin-top: 29px;
  cursor: pointer;
}

.footer_contact {
  width: 300px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-top: 85px;
}
.block{
  display: flex;
  justify-content: space-between;
  color: #828282;
  font-size: 12px;
  padding-top: 20px;
  display: block;
}

footer img {
  width: 40px;
  cursor: pointer;
}

.sub-text {
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  margin-top: 45px;
}

.burger-menu {
  display: none;
}
